@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes notification-slide-in {
  from {
    opacity: 0;
    transform: translate3d(16px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
